Working with DataProblems
Applying a Function to a

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("RadNet_Laboratory_Analysis.csv")
df.head()

,State,Location,Date Posted,Date Collected,Sample Type,Unit,Ba-140,Co-60,Cs-134,Cs-136,Cs-137,I-131,I-132,I-133,Te-129,Te-129m,Te-132,Ba-140.1
0,ID,Boise,03/30/2011,03/23/2011,Air Filter,pCi/m3,0.0,0.0,0,NaN,0,0,0,0.0,NaN,NaN,0,NaN
1,ID,Boise,03/30/2011,03/23/2011,Air Filter,pCi/m3,0.0,0.0,0,NaN,0,0,0,0.0,NaN,NaN,0,NaN
2,AK,Juneau,03/30/2011,03/23/2011,Air Filter,pCi/m3,0.0,0.0,0,NaN,0,0,0,0.0,NaN,NaN,0,NaN
3,AK,Nome,03/30/2011,03/22/2011,Air Filter,pCi/m3,0.0,0.0,0,NaN,0,0,0,0.0,NaN,NaN,0,NaN
4,AK,Nome,03/30/2011,03/23/2011,Air Filter,pCi/m3,0.0,0.0,0,NaN,0,0,0,0.0,NaN,NaN,0,NaN

In [5]:
columns = df.columns
columns

Index(['State', 'Location', 'Date Posted', 'Date Collected', 'Sample Type',
       'Unit', 'Ba-140', 'Co-60', 'Cs-134', 'Cs-136', 'Cs-137', 'I-131',
       'I-132', 'I-133', 'Te-129', 'Te-129m', 'Te-132', 'Ba-140.1'],
      dtype='object')

In [6]:
id_cols = ['State', 'Location', "Date Posted", 'Date Collected', 'Sample Type', 'Unit']
columns = list(set(columns) - set(id_cols))
columns

['I-131',
 'Co-60',
 'I-132',
 'Cs-136',
 'Cs-134',
 'Te-129',
 'Cs-137',
 'Te-132',
 'Ba-140',
 'Te-129m',
 'Ba-140.1',
 'I-133']

In [11]:
df['Cs-134'] = df['Cs-134'].apply(lambda x: np.nan if x == "Non-detect" else x)
df.head()

,State,Location,Date Posted,Date Collected,Sample Type,Unit,Ba-140,Co-60,Cs-134,Cs-136,Cs-137,I-131,I-132,I-133,Te-129,Te-129m,Te-132,Ba-140.1
0,ID,Boise,03/30/2011,03/23/2011,Air Filter,pCi/m3,0.0,0.0,0,NaN,0,0,0,0.0,NaN,NaN,0,NaN
1,ID,Boise,03/30/2011,03/23/2011,Air Filter,pCi/m3,0.0,0.0,0,NaN,0,0,0,0.0,NaN,NaN,0,NaN
2,AK,Juneau,03/30/2011,03/23/2011,Air Filter,pCi/m3,0.0,0.0,0,NaN,0,0,0,0.0,NaN,NaN,0,NaN
3,AK,Nome,03/30/2011,03/22/2011,Air Filter,pCi/m3,0.0,0.0,0,NaN,0,0,0,0.0,NaN,NaN,0,NaN
4,AK,Nome,03/30/2011,03/23/2011,Air Filter,pCi/m3,0.0,0.0,0,NaN,0,0,0,0.0,NaN,NaN,0,NaN